{% extends "base.html"%}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="profile-header">
        {% if username.Role=="1" %}
      <h1>Profil {{username.organisation}} </h1>
      {%else%}
      <h1>Profil {{username.nom }} {{username.prenom }}</h1>
      {% endif %}

   
    </div>
    

    <div class="text-center">
        <img src="https://github.com/mdo.png" alt="mdo" width="100" height="100" class="rounded-circle">

    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
                <strong>     {{ message }} </strong>
        
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        
            {% endif %}
        

            <form action="/updatepassword" method="post">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password"
                name="password1"  >
                <label for="password">ancien mot de passe </label>
    
                <button type="button" class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y me-2" onclick="togglePassword()">
                  <i class="bi bi-eye" id="Icon"></i>
                </button>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password"
                name="password2"  >
                <label for="password">nouveau mot de passe </label>
    
                <button type="button" class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y me-2" onclick="togglePassword()">
                  <i class="bi bi-eye" id="Icon"></i>
                </button>
              </div>
              <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Modifier mon mot  de passe </button> 
              </div>
            </form>
            
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body">
            {% if message1 %}
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
                <strong>     {{ message1 }} </strong>
        
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        
            {% endif %}
            <form method="post" action="/updateprofile">

            <h5 class="card-title">Informations personnelles</h5>
            {% if username.Role=="1" %}

            <p class="card-text"><strong>Entreprise :</strong> {{username.organisation}}</p>
            {%endif%}

            <p class="card-text"><strong>Nom : <input type="text" class="form-control" id="password" placeholder="nom"
                name="nom"  value="{{username.nom}}" ></strong></p>
                <p class="card-text"><strong>Nom : <input type="text" class="form-control" id="password" placeholder="Prenom"
                    name="prenom"  value="{{username.prenom}}" ></strong></p>
            <p class="card-text"><strong>Email :</strong> {{username.Email}}</p>
            <p class="card-text"><strong>Ville :</strong> Laval, Québec</p>
            <p class="card-text"><strong>Téléphone : <input type="text" class="form-control" id="password" placeholder="Password"
                name="tel"  value="{{ username.tel}}" ></strong></p>
            <p class="card-text"><strong>date de creation :</strong>  {{username.date}}</p>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Modifier mon profil</a>
              </div>
        </form>
          </div>
        </div>
      </div>
    </div>

  
  </div>


{% endblock %}
